public-hoist-pattern[]=serialize-javascript
public-hoist-pattern[]=shorthash
public-hoist-pattern[]=vscode-textmate
public-hoist-pattern[]=vscode-uniguruma
public-hoist-pattern[]=@astrojs/markdown-remark
